* {
    font-family: 'Consolas','Fira Code Light','仿宋';
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 0px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #33ccff;
}

.active {
    background-color: #4CAF50;
}

ul {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

a {
    text-decoration:none;
}